.noble-row {
    display: flex;
    grid-area: nobles;
}

.noble-wrapper {
    flex-basis: 20%;
    padding: 1%;
}

.noble-aspect-box {
    position: relative;
    height: 0;
    padding-bottom: 50%;
}

.noble {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: rgb(233, 220, 145);
}

.noble-cost {
    display: flex;
    height: 50%;
    justify-content: space-around;
}

.gem-noble-cost {
    clip-path: none;
    height: 100%;
    width: 25%;
    background-clip: content-box;
    padding: 3%;
    font-size: 2vw;
}


