.gb-board {
    display: grid;
    grid-template-columns: 3fr 1fr 7fr 3fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:    "players gems nobles sidebar"
                            "players gems board sidebar"
                            "action action action none"
}

.gb-sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    padding: 1%;
}

.gb-selected-card, .gb-selected-noble, .gb-selected-player {
    outline: 5px solid orangered;
}

.gb-available-noble {
    outline: 5px solid green;
}

.gb-selected-coin > .gb-coin {
    box-shadow: 0 0 0 4px orangered;
}

.gb-selected-coin-2 > .gb-coin {
    box-shadow: 0 0 0 4px orange
}

.gb-action-box {
    background-color: lightblue;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    grid-area: action;
    padding: 2%;
    margin: 1%;
}

.gb-action-text {
    padding: 4px 0;
}

.gb-options > *{
    margin: 0 5px;
}

button {
    font-size: 100%;
    background-color: lightgrey;
    border: 3px solid black;
    border-radius: 10%;
}