.board {
    display: grid;
    grid-template-columns: 2fr 1fr 7fr 3fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:    "players gems nobles none"
                            "players gems board none"
                            "action action action none"
}

.selected-card {
    outline: 5px solid orangered;
}

.selected-coin > .coin {
    box-shadow: 0 0 0 4px orangered;
}

.selected-coin-2 > .coin {
    box-shadow: 0 0 0 4px orange
}

.action-box {
    background-color: lightblue;
    display: flex;
    justify-content: space-between;
    grid-area: action;
    padding: 2%;
}

.options > *{
    margin: 0 5px;
}

button {
    font-size: 100%;
    background-color: lightgrey;
    border: 3px solid black;
    border-radius: 10%;
}