.gb-logs {
    background: lightblue;
    padding: 5%;
    height: 100%;
    margin-top: 1%;
}

.gb-log-break {
    border: 1px solid black;
}

.gb-scroll {
    overflow-y: auto;
    display: flex;
    max-height: 50vh;
    flex-direction: column-reverse;
    font-size: 1.1vw;
}