.gb-player-column {
    display: flex;
    flex-direction: column;
    grid-area: players;
}

.gb-player-wrapper {
    padding: 2%;
}

.gb-player-aspect-box {
    position: relative;
    height: 0;
    padding-bottom: 50%;
}

.gb-player-mat {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #ffe082;
}

.gb-player-info {
    display: flex;
    justify-content: space-between;
    padding: 2px;
}

.gb-player-holdings {
    height: 24%;
    display: flex;
}

.gb-player-public-reserves {
    height: 16%;
    display: flex;
    align-content: center;
}

.gb-player-public-reserves > div {
    height: 100%;
    width: 8%;
    font-size: 1.3vw;
    margin: -2px 2px;
}

.gb-player-holdings > div {
    clip-path: none;
    height: 100%;
    width: 12%;
    font-size: 1.3vw;
    margin: -2% 2%;
}

.gb-gem-player-coin {
    border-radius: 100%;
}

.gb-player-reserves {
    height: 35%;
    padding: 5%;
    background: #ffe082;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.gb-player-reserves-label {
    margin-bottom: auto;
}

.gb-player-reserves-cards {
    display: flex;
    margin: 0 -2%;
}

.gb-player-reserves-cards > div {
    flex-basis: 30%;
    margin: 0 2%;
}
