.gem {
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
    user-select: none
}

.gem-onyx {
    background-color: black;
    clip-path: polygon(20% 10%, 80% 10%, 100% 30%, 100% 70%, 80% 90%, 20% 90%, 0% 70%, 0% 30%);

}

.gem-sapphire {
    background: blue;
    clip-path: ellipse(50% 35% at 50% 50%);
}

.gem-ruby {
    background: red;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.gem-diamond {
    background: white;
    clip-path: polygon(50% 0%, 100% 30%, 50% 100%, 0% 30%);
    color: rgb(90, 90, 90);
}

.gem-emerald {
    background: green;
    clip-path: polygon(30% 0%, 70% 0%, 90% 20%, 90% 80%, 70% 100%, 30% 100%, 10% 80%, 10% 20%);
}

.gem-gold {
    width: 65%;
    height: 65%;
    background: gold;
}

.gem-onyx-text {
    color: black;
    font-weight: bold;
}

.gem-ruby-text {
    color: red;
    font-weight: bold;
}

.gem-sapphire-text {
    color: blue;
    font-weight: bold;
}

.gem-diamond-text {
    color: white;
    font-weight: bold;
}

.gem-emerald-text {
    color: green;
    font-weight: bold;
}

.gem-gold-text {
    color: darkgoldenrod;
    font-weight: bold;
}